<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
</head>
<body>
    <form method="POST">
    <center><h1>student Registration form</h1></center>
    <label>Student Id</label><br>
    <input type="number" name="id" required/><br>
    <label>Name</label><br>
    <input type="text" name="name" required/><br>
    <label>Course</label><br>
    <input type="text" name="course" reguired/><br>
    <label>Address Id</label><br>
    <input type="text" name="address" required/><br>
    <label>Mobile Id</label><br>
    <input type="number" name="mobile" required/><br><br>
    <button>submit</button>


</form>

</body>
</html>